<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do</title>
</head>

<body>
    <h1>Todo App</h1>

    <form action='/add' method='POST'>
        <div>
            <label for="title">To-do</label>
            <input type="text" name="title">
            <button type="submit">Add</button>
        </div>
    </form>

    <h3>Not completed</h3>
    {% for todo in todos %}
    {% if todo.complete == False %}
    <p>{{todo.id}}.{{todo.title}}</p>
    <span>Not complete</span>
    <button> <a href='/delete/{{todo.id}}'>Delete</a></button>
    <button><a href="/complete/{{todo.id}}">Complete</a></button>
    {% endif %}
    {% endfor%}

    
    <h3>Completed</h3>
    {% for todo in todos %}
    {% if todo.complete == True %}
    <p>{{todo.title}}</p>
    <button> <a href='/delete/{{todo.id}}'>Delete</a></button>
    <button><a href="/complete/{{todo.id}}">Not complete</a></button>
    {% endif %}
    {% endfor %}

</body>

</html>